{% extends 'base.html.twig' %}

{% block title %}Error 404 - Not Found{% endblock %}

{% block bodyclass %}error{% endblock %}

{% block body %}
    <a href="{{ path('index') }}" class="link">Homepage</a>

    <h1>Error 404 - Not Found</h1>

    <p>{{ exception.message }}</p>

    <p>The requested URL could not be found.</p>
{% endblock %}
