{% extends 'base.html.twig' %}

{% block title %}Error 500 - Internal Server Error{% endblock %}

{% block bodyclass %}error{% endblock %}

{% block body %}
    <h1>Error 500 - Internal Server Error</h1>

    <p>An error occured. Please try again later or contact the admin.</p>
{% endblock %}
