{% extends 'base.html.twig' %}

{% block title %}Error 403 - Forbidden{% endblock %}

{% block bodyclass %}error{% endblock %}

{% block body %}
    <a href="{{ path('index') }}" class="link">Homepage</a>

    <h1>Error 403 - Forbidden</h1>

    <p>{{ exception.message }}</p>

    <p>You are not permitted to see the requested content.</p>
{% endblock %}
