{% extends 'base.html.twig' %}

{% block title %}Create FASTA Job{% endblock %}

{% block bodyclass %}index{% endblock %}

{% block body %}
    {% if adminAccess %}
        <a href="{{ path('admin') }}" class="link">Job List</a>
    {% endif %}

    <h1>Create a new Job</h1>

    {% include "_util/_flash.html.twig" only %}

    {{ form_start(form) }}
    {{ form_row(form.uploadfilechoice) }}
    <div class="fastatext">
        {{ form_row(form.fasta) }}
    </div>
    <div class="fastafile hidden">
        {{ form_row(form.fastafile) }}
    </div>
    <div>
        {{ form_row(form.email) }}
    </div>
    <div>
        <span title="Desired length of the designed oligos. Shorter oligos are calculated faster and are more easy to synthesize later on. (default: {{ defaultLength }} nt, recommended: 14-20 nt)">?</span>
        {{ form_row(form.length) }}
    </div>
    <div>
        <span title="Max. stretch of poly(N) in the designed oligo, e.g. AAAA, TTTT. Poly(N) sequences are often found in genomes which may lead to unspecific binding of oligos, so we avoid them. This also speeds up calculations. (default: {{ defaultStretches }})">?</span>
        {{ form_row(form.maxMononucStretches) }}
    </div>
    <div>
        <span title="A higher GC content increases the binding-energy to targets and lead to more efficient oligos. Limiting this to a minimum value will speed up calculations and hides inefficient oligo suggestions. (default: {{ defaultGc }}%)">?</span>
        {{ form_row(form.gcRatio) }}
    </div>
    {{ form_end(form) }}

    <hr>

    <p>In case of problems or questions contact the admin via <a href="mailto:{{ adminMailAddress }}">email</a>.</p>
{% endblock %}
