<table class="admin--table">
    <thead>
        <tr>
            <th>Created at</th>
            <th>Hash</th>
            <th>Fasta length</th>
            <th>Timeout</th>
            {% if showStatus %}
                <th>Status</th>
            {% endif %}
            {% if showStartedAt %}
                <th>Started at</th>
            {% endif %}
            {% if showExecutedAt %}
                <th>Executed at</th>
            {% endif %}
            {% if showRemove %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.createdAt | dateFormat }}</td>
            <td>
                <a href="{{ path("result", {"hash": job.hash}) }}">
                    {{ job.hash }}
                </a>
            </td>
            <td>{{ job.fastaLength }}</td>
            <td>{{ job.timeout | timeoutFormat }}</td>
            {% if showStatus %}
                <td>{{ job.status }}</td>
            {% endif %}
            {% if showStartedAt %}
                <td>
                    {{ job.startedAt ? job.startedAt | dateFormat : "--" }}
                </td>
            {% endif %}
            {% if showExecutedAt %}
                <td>
                    {{ job.executedAt ? job.executedAt | dateFormat : "--" }}
                </td>
            {% endif %}
            {% if showRemove %}
                <td>
                    <a href="{{ path('remove', {'hash': job.hash}) }}" data-confirm>
                        Remove Job
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
