// ======= IMPORTS ======== \\
@import "normalize";
@import "font-awesome/font-awesome";

// ======= VARIABLES ======= \\
$color-accent: #bbb;
$color-background: #fff;
$color-border: #ccc;
$color-error: #d9534f;
$color-grey: #f9f9f9;
$color-link: #f3f3f3;
$color-success: #5cb85c;
$color-text: #222;

$font-monospace: monospace;

$simple-margin: 1em;
$simple-padding: 1em;

$container-max-width: 1200px;

// ========= MIXINS ======== \\
@mixin small-main() {
    .main {
        max-width: ($container-max-width / 2);
    }
}

@mixin table() {
    width: 100%;
    border: 1px solid $color-border;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: .9em;

    th, td {
        padding: ($simple-padding / 2);
        text-align: center;
        word-wrap: break-word;
    }

    th {
        background-color: #ccc;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }

    td:nth-child(2) {
        font-family: $font-monospace;
    }
}

// ======== STYLES ========= \\
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    color: $color-text;
}

.main {
    margin: 0 auto;
    padding: $simple-padding;
    max-width: $container-max-width;
    background-color: $color-background;
    font-size: .9em;
}

.hidden {
    display: none;
}

// -------- flash  --------- \\
.flash {
    margin: 0 auto $simple-margin;
    padding: ($simple-padding / 2);
    text-align: center;
    border: 1px solid;

    &--success {
        background-color: $color-success;
        border-color: darken($color-success, 10%);
        color: $color-text;
    }

    &--error {
        background-color: $color-error;
        border-color: darken($color-error, 10%);
        color: $color-background;
    }
}
// -------- link  ---------- \\
.link {
    float: right;
    margin-top: $simple-margin;
    margin-left: $simple-margin;
    padding: $simple-padding;
    text-decoration: none;
    color: $color-text;
    background-color: $color-link;
    cursor: pointer;

    &:hover {
        background-color: darken($color-background, 10%);
        color: $color-text;
    }

    &--danger {
        color: $color-background;
        background-color: $color-error;

        &:hover {
            background-color: darken($color-error, 10%);
            color: $color-background;
        }
    }
}

// ------- confirm  -------- \\
.confirm {
    display: none;
    position: fixed;
    top: ($simple-margin * 2);
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 1px solid $color-border;
    padding: $simple-padding;
    background-color: $color-grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

    &--text {
        text-transform: uppercase;
        font-weight: bold;
    }
}

// -------- index  --------- \\
.index {
    @include small-main();

    form > div {
        margin-bottom: $simple-margin;
    }

    label {
        display: block;
        margin-bottom: .2em;
        text-align: center;
    }

    textarea, input, button, select {
        display: block;
        font-size: 1em;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: ($simple-padding / 4) ($simple-padding / 2);
    }

    textarea {
        font-family: $font-monospace;
        height: 12em;
        line-height: 1.3;
        resize: vertical;
        word-break: break-word;
        text-align: left;
    }

    input[type="file"] {
        padding: 0;
    }

    ul {
        margin: 0;
        margin-bottom: .2em;
        padding: 0;
    }

    li {
        color: $color-error;
        font-weight: bold;
        list-style-type: none;
        text-align: center;
        font-size: .8em;
    }

    form > div > span {
        float: right;
        border-bottom:1px dotted #222;
        cursor: pointer;
        padding: 0 3px;
    }
}

// -------- result --------- \\
.result {
    &--fasta {
        border: 1px solid $color-border;
        word-break: break-word;
        font-family: $font-monospace;
        padding: $simple-padding;
        line-height: 1.3;
        max-height: 20em;
        overflow-y: auto;
    }

    &--table {
        @include table();
        margin-top: 10px;
        margin-bottom: ($simple-margin * 2);

        th {
            cursor: pointer;

            span {
                cursor: help;
                text-decoration: underline dotted;
            }
        }

        input {
            width: 100%;
            padding: ($simple-padding / 4) ($simple-padding / 2);
        }
    }

    &--position-pointer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: ($simple-margin * 2);
        padding: 0 $simple-padding;
        background-color: $color-accent;

        &-box {
            position: relative;
            margin: ($simple-margin / 2) auto;
            max-width: $container-max-width;
            height: $simple-margin;
            background-color: $color-background;
        }

        &-marker {
            position: absolute;
            display: inline-block;
            height: 100%;
            border: 1px solid #cbd895;
            border-top: 0;
            border-bottom: 0;
        }
    }

    &--overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;

        &__visible {
            opacity: 1;
            visibility: visible;

            p {
                position: fixed;
                top: 30%;
                left: 50%;
                margin-left: -10em;
                width: 20em;
                padding: $simple-padding;
                border-radius: 5px;
                font-size: 1.1em;
                background: #222;
                color: #eee;
                text-align: center;
            }
        }
    }
}

// -------- admin  --------- \\
.admin {
    &--table {
        @include table();
    }
}

// -------- error  --------- \\
.error {
    @include small-main();
}
