{% extends 'base.html.twig' %}

{% set isExecuted = job.status is constant('AppBundle\\Service\\Job::STATUS_EXECUTED') %}
{% set deletionReferenceTime = isExecuted ? job.executedAt : job.startedAt %}

{% block title %}Results Job{% endblock %}

{% block bodyclass %}
    result
    {% if not isExecuted %}result__info{% endif %}
    {% if job.status is constant('AppBundle\\Service\\Job::STATUS_NEW') %}result__new{% endif %}
{% endblock %}

{% set columns = {
    'Pos'          : 'Position(s) of the target within the input reference sequence',
    'Seq'          : '',
    'OCC'          : 'Number of occurrences of the target within the input reference sequence',
    'Homo'         : 'poly(N) = Longest poly(N) stretch in the target',
    'GC'           : 'GC content of the target [%]',
    'RNAup'        : 'Minimum free energy of the hybridized molecules with regard to the necessary unfolding of the target region (the more negative, the better)',
    'Unpaired'     : 'Fraction of potentially unpaired positions with the target region',
    'Plfold'       : 'Likelihood of the target region to be unpaired (with respect to the length of the oligo)',
} %}
{% set pathDownloadInput          = path('download', {'hash': job.hash, 'name': constant('AppBundle\\Util\\Path::FILENAME_INPUT')}) %}
{% set pathDownloadOutput         = path('download', {'hash': job.hash, 'name': constant('AppBundle\\Util\\Path::FILENAME_OUTPUT')}) %}
{% set pathDownloadOutputFiltered = path('download', {'hash': job.hash, 'name': constant('AppBundle\\Util\\Path::FILENAME_OUTPUT_FILTERED')}) %}

{% block body %}
    <a href="{{ path('index') }}" class="link">Homepage</a>
    {% if adminAccess %}
        <a href="{{ path('admin') }}" class="link">Job List</a>
    {% endif %}
    {% if job.status is not constant('AppBundle\\Service\\Job::STATUS_ACTIVE') %}
        <a href="{{ path('remove', {'hash': job.hash}) }}" class="link link--danger" data-confirm>Remove Job</a>
    {% endif %}

    <h1>Results of Job</h1>

    {% include "_util/_flash.html.twig" only %}

    <ul>
        <li>Status - {{ job.status }}</li>

        {% if queuePosition == null %}
            <li>Started at - {{ job.startedAt | dateFormat }}</li>
        {% else %}
            <li>Position in queue - {{ queuePosition }}</li>
        {% endif %}

        {% if isExecuted %}
            <li>Executed at - {{ job.executedAt | dateFormat }}</li>
        {% endif %}

        {% if job.status in [
            constant('AppBundle\\Service\\Job::STATUS_EXECUTED'),
            constant('AppBundle\\Service\\Job::STATUS_FAILED'),
            constant('AppBundle\\Service\\Job::STATUS_TIMEOUT')
        ] %}
            <li>Available at least until {{ deletionReferenceTime | date_modify(deleteAfterDays ~ " day") | dateFormat }}</li>
        {% endif %}

        {% set selfLink = absolute_url(path('result', {'hash': job.hash})) %}

        <li>Link - <a href="{{ selfLink }}">{{ selfLink }}</a></li>
    </ul>

    <h3>Inputvalues</h3>

    <ul>
        <li>Length - {{ job.length }}</li>
        <li>max. Mononuc Stretches - {{ job.maxMononucStretches }}</li>
        <li>GC Ratio - {{ job.gcRatio }} %</li>

        {% if adminAccess %}
            <li>Timeout - {{ job.timeout | timeoutFormat }}</li>
        {% endif %}
    </ul>

    <div class="result--fasta"></div>

    {% if isExecuted %}
        <h3>Downloads</h3>

        <ul>
            <li>
                <a href="{{ pathDownloadInput }}">
                    {{ constant('AppBundle\\Util\\Path::FILENAME_INPUT') }}
                </a>
            </li>
            <li>
                <a href="{{ pathDownloadOutput }}">
                    {{ constant('AppBundle\\Util\\Path::FILENAME_OUTPUT') }}
                </a>
            </li>
            <li>
                <a href="{{ pathDownloadOutputFiltered }}">
                    {{ constant('AppBundle\\Util\\Path::FILENAME_OUTPUT_FILTERED') }}
                </a>
            </li>
        </ul>

        <h3>Results</h3>

        <table class="result--table">
            <thead>
                {% for type in ['min', 'max'] %}
                    <tr>
                        {% for item in columns|keys %}
                            <td>
                                {% if item != 'Seq' %}
                                    <input type="text"
                                        placeholder="{{ type }}"
                                        data-type="{{ type }}"
                                        data-index="{{ loop.index0 }}">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    {% for item, help in columns %}
                        <th>
                            {% if item != 'Seq' %}
                                <span title="{{ help }}">{{ item }}</span>
                            {% else %}
                                {{ item }}
                            {% endif %}
                            <i class="fa fa-sort" aria-hidden="true">
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="result--position-pointer">
            <div class="result--position-pointer-box"></div>
        </div>
    {% endif %}

    <div class="result--overlay {% if isExecuted %}result--overlay__visible{% endif %}">
        <p>Please wait, processing data.</p>
    </div>

    {% include "_util/_confirm.html.twig" only %}
{% endblock %}

{% block javascripts %}
    <script>
        $.publish("view.fastaInputUrl", "{{ pathDownloadInput }}");
        $.publish("view.fastaLength", {{ job.fastaLength }});
        $.publish("view.fastaOutputUrl", "{{ pathDownloadOutputFiltered }}");
        $.publish("view.subSequenceLength", {{ job.length }});
    </script>
{% endblock %}
