<div class="confirm">
    <div class="confirm--text">Please confirm</div>
    <div>
        <a class="confirm--cancel link">Cancel</a>
        <a class="confirm--action link link--danger"></a>
    </div>
</div>
